<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>HOME</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><img src="/img/icono.png" alt="" class="icono" /></li>
          <li><a href="/">Home</a></li>
          <li><a href="/babbage">babbage</a></li>
          <li class="berns">
            <a href="/berns-lee">Berns-lee</a>
            <ul class="submenu">
              <li><a href="/berns-lee.html#nudo">Nudo</a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
            </ul>
          </li>
          <li><a href="/clark">Clark</a></li>
          <li><a href="/hamilton">Hamilton</a></li>
          <li><a href="/hopper">Hopper</a></li>
          <li><a href="/lovelace">Lovelace</a></li>
          <li><a href="/turing">Turing</a></li>
        </ul>
      </nav>
    </header>
    <main id="imagen-home">
        <br>
  

      <section class="atajos">
        <div id="imagen-babbage">
          <a href="/babbage"><button>babbage</button></a>
        </div>
        <div id="imagen-berns-lee">
            <a href="/berns-lee"><button>Berns</button></a>
        </div>
        <div id="imagen-Clark">
            <a href="/clark"><button>Clark</button></a>
          </div>
          <div id="imagen-Hamilton">
              <a href="/hamilton"><button>Hamilton</button></a>
          </div>
          <div id="imagen-Hopper">
            <a href="/hopper"><button>Hopper</button></a>
          </div>
          <div id="imagen-Turing">
              <a href="/turing"><button>Turing</button></a>
          </div>
          <div id="imagen-Lovelace">
            <a href="/lovelace"><button>Lovelace</button></a>
          </div>
       
       
      </section>
    </main>
    <footer>Dayanna Ramirez 2022</footer>
  </body>
</html>
